:root {
  --white: #fff;
  --grey: #eeedf6;
  --cyan: #5fe5e5;
  --mauve: #bf84c0;
  --eggplant: #8f5fca;
  --indigo: #1f1769;
}
header.MuiPaper-root {
  background: var(--indigo);
  padding-left: 60px;
  z-index: 999;
}
header.MuiPaper-root .MuiToolbar-root {
  justify-content: space-between;
}
.custom .MuiFormControl-root {
  background-color: var(--grey) !important;
}
.custom .MuiFormLabel-root {
  color: var(--eggplant);
  font-size: 18px;
  line-height: 24px;
}
.custom .MuiFormLabel-root.Mui-focused {
  background-color: var(--grey);
  padding-inline: 4px;
}
.custom .MuiFormLabel-root.Mui-focused {
  color: var(--eggplant);
}
.custom .MuiInputBase-input {
  border: 2px solid var(--indigo);
  border-radius: 4px;
}
.customBox {
  background-color: var(--grey);
  margin-block: 20px;
  padding-block: 20px;
}
.customBox h6 {
  font-size: 22px;
  line-height: 30px;
  color: var(--indigo);
  font-weight: 600;
}
.mb-3 {
  margin-bottom: 15px !important;
}
.card {
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--eggplant);
  border: 2px solid var(--indigo);
  border-radius: 12px !important;
  padding-block: 20px;
  background-color: var(--grey) !important;
}
.card .MuiSvgIcon-root {
  color: var(--eggplant);
  transform: scale(2);
  margin-bottom: 20px;
}
.card .MuiTypography-root {
  margin-inline: 60px;
  font-size: 22px;
  font-weight: 400;
}
.tableSection {
  position: relative;
}
.tableSection .MuiPaper-root {
  border-radius: 16px;
}

.tableSection .tabelHeading {
  color: var(--indigo);
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  margin: 0;
}
.datePickerStyle {
  position: relative;
}
.datePickerStyle input {
  width: 100%;
  border: 2px solid var(--indigo);
  font-size: 18px;
  line-height: 40px;
  border-radius: 4px;
}
.datePickerStyle button {
  color: var(--indigo);
  border-left: 2px solid var(--indigo);
  border-radius: 0;
  transform: translateX(-50px);
}
.disableActivity {
  background-color: var(--grey);
}
.datePickerStyle.disabled input {
  pointer-events: none;
  opacity: 0.5;
}
.datePickerStyle.disabled button {
  pointer-events: none;
  opacity: 0.5;
}

.sideBar {
  height: 100vh;
  width: 45px;
  background-color: var(--indigo);
  color: var(--white);
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
